<%@title = "Login Page"%>
<h1>Login Page</h1>
<%=@message%>
<form method="post" action="/login">

  <label>Email</label><input type="text" name="email">
  <br>
  <label>Password</label><input type="text" name="password">

  <button type="submit" value="submit">Submit</button>

</form>
