  Welcome, <%=@user.username.capitalize%>!
  Good bye now.

<h3>Checked Out To Me</h3>
  <%book_list = @user.books.find_all {|book| book if book.title !=nil}%>
  <%book_list.each_with_index do |book, i|%>
    <%binding.pry%>
    <h3><%=i+1%>. <%=book.title%></h3>
    <%if book.author.name !=nil%>
    Author: <%book.author.name%>
    <%end%>
    <%if book.genre.name !=nil%>
    Genre: <%book.genre.name%>
    <%end%>
    <br></br>
  <%end%>
</body>
  <a href="/user/edit">Turn In Books</a>
  <a href="/logout">Logout</a>
  <!--You cannot use the below b/c the session has been cleared of user_id field. Redirecting there is the same as refreshing the page and simply going to that location. Think about more when you review the 2 helper methods.-->

  <!-- if session[:user_id].nil?
    Sorry, you are not logged in to see this webpage.
  else -->
