<%#Renders a view of ALL books%>
<html>
  <head>
    <%@title = "The Book Collection"%>
  </head>
  <body>
    <%book_list = @books.find_all {|book| book if book.title !=nil}%>
    <%book_list.each_with_index do |book, i|%>
      <%binding.pry%>
      <h3><%=i+1%>. <%=book.title%></h3>
      <%if book.author.name !=nil%>
      Author: <%book.author.name%>
      <%end%>
      <%if book.genre.name !=nil%>
      Genre: <%book.genre.name%>
      <%end%>
    <%end%>
  </body>
</html>
