<h1> Adding a New Book </h1>

<form method="post" action="/book">
  <p>Title <input type="text" name="title"></p>
  <p>Author <input type="text" name="author"></p>
  <p>Genre <input type="text" name="genre"></p>

  <button type="submit" value="submit">Submit</button>
</form>
