<%@title = @book.title%>
<br>
Title: <%=@book.title%>
<br>
Author: <%=@book.author.name%>
<br>
Genre: <%=@book.genre.name%>

<a href="/books/<%=@book.id%>/edit">Update Book</button>
<a href="">Check Book Out</button>
