<DOCTYPE! html>
<html>
  <head>
    <title>Info Page</title>
  </head>

  <body>
    <ul>
  		  <% squares = [1, 4, 9, 16] %>
  		  <% squares.each do |square| %>
  		    <%= square %>
  		  <% end %>
  		</ul>
  </body>
</html>
