<DOCTYPE! html>
<html>
  <head>
  </head>

  <body>
      Welcome to the Hogwarts School of Witchcraft and Wizardry Library!
      <br></br>
      <a href="/login">Log in</a> or <a href="/signup">Sign Up</a> to your school account.
  </body>
</html>
